/**{
    font-family: "consolas", sans-serif;    
}

.nav_title_container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
h1{
    color: rgb(25, 223, 223);
    font-size: 45px;
    position: relative;
    left: 200px;
    top: 20px;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 75px;
    border-radius: 10px;
}
.HomepageNavbar ul{
    list-style: none;
    display: flex;
}

.HomepageNavbar li{
    margin-right: 25px;
    margin-top: 5px;
    
}

.HomepageNavbar a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    padding: 30px;
    width: 200px;
    height: 20px;
    border-radius: 100px;
    background-color: indigo;
    transition: transform 0.3s ease;
}

.HomepageNavbar a:hover{
    background-color: purple;
    cursor: pointer;
    transform: scale(1.05);
}

.HomepageNavbar a:active{
    background-color: white;
    cursor: pointer;
}

body{
    margin: 0%;
    background-image: url(../Assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact_container {
    background-color: indigo;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#contact_container h2, .objective h2, .work h2, .education h2, .extracurriculars h2 {
    color: rgb(25, 223, 223);
    margin-bottom: 15px;
    
}

#contact_container ul, .objective p, .work ul, .education table, .extracurriculars p {
    color: white;
}

#contact_container a, .work a, .education a, .extracurriculars a {
    color: lightblue;
    text-decoration: none;
}

#contact_container li, .work li {
    margin-bottom: 10px;
}

.education table {
    width: 100%;
    border-collapse: collapse;
}

.education th, .education td {
    border: 1px solid #6272a4;
    padding: 8px;
}

.education th {
    background-color: #44475a;
}

.education td {
    background-color: #6272a4;
}

section {
    background-color: #282a36;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
footer {
    background-color: indigo; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

footer a {
    color: #add8e6; 
    text-decoration: none; 
}

footer ul {
    list-style-type: none; 
    padding: 0; 
}

footer li {
    display: inline; 
    margin: 0 10px; 
}*/