.quote{
    font-size: 24px;
    font-weight: bold;
    color:cadetblue;
    font-family: "consolas", sans-serif;
    border-style: solid;
    border-color:darkcyan;
    padding: 30px;
}
body{
    margin: 0%;
    background-image: url(../Assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#avtrimg{
    display: grid;
    place-items: center;
}

#portfolioHeader{
    font-family: "consolas", sans-serif;
    color: darkcyan;
    display: grid;
    place-items: center;
    margin-top: 50px;
    font-size: 50px;
}