*{
    font-family: "consolas", sans-serif;
    
}


.quote{
    font-size: 24px;
    font-weight: bold;
    color:cadetblue;
    border-style: solid;
    border-color:darkcyan;
    padding: 30px;
}
body{
    margin: 0%;
    background-image: url(../Assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#avtrimg{
    display: flex;
    justify-content: center;
}

#portfolioHeader{
    font-family: "consolas", sans-serif;
    color: darkcyan;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
}

.HomepageNavbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 50px;
}

.HomepageNavbar li{
    margin-right: 100px;
}
.HomepageNavbar a{
    text-decoration: none;
}
.HomepageNavbar #resume{

}

.HomepageNavbar #funfact{

}
.HomepageNavbar #home{
    background-color: black;
    backg;
}
